* {
    margin: 0;
    box-sizing: border-box;
  }
  img {
    object-fit: cover;
    max-width: 100%;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  body{
    background-color: rgb(26, 26, 26);
  }
  h1, h2{
    color: white;
  }